/**
 * .env file for storing sensitive environment variables.
 * 
 * This file contains sensitive information such as API keys, secrets, and tokens,
 * which are necessary for the application to function. This information should
 * remain confidential and should not be shared or made public. It should only be
 * shared with trusted individuals who require access for development or deployment.
 * 
 * To prevent accidental sharing, this file should be included in your .gitignore
 * file. This prevents it from being committed to your repository. When deploying
 * your application, these values should be set in the environment of the deployment
 * system, rather than being included in the application's code.
 * 
 * After filling in all the required information, make sure to remove 'Example'
 * from the filename. The file should simply be named '.env', with nothing preceding
 * the '.env'.
 * 
 * NOTE: Each 'section' of the bot has its own .env file. This is due to the plan of
 * releasing a Docker image for the bot. Consolidating everything into a single .env
 * file would complicate the Docker setup process. Hence, for simplicity and modularity,
 * each part of the bot uses its own .env file.
 */

# Discord Bot Info
BOT_TOKEN=                         # The token for your Discord bot. You can find this in the Discord developer portal under the "Bot" tab.
                                   # This is a highly sensitive piece of information which should be kept secret and not shared publicly.
                                   # If someone with malicious intent gets hold of your bot token, they could hijack your bot and use it 
                                   # in a way that may result in it being banned from Discord's platform.

# Redirect URI's 
FRONTEND_URL=http://localhost:8080/  # The URL of the frontend of your application. This will be different in a production environment.
BACKEND_URL=http://localhost:8081/   # The URL of the backend of your application. This will also be different in a production environment.
